.single-book-container{
  background-color: blanchedalmond;
  width: 280px;
  box-sizing: border-box;
  position: relative;
  border: 2px solid slategray;
  border-radius: 8px;
  padding: 5px;
}

.single-book-container img{
  width: 100%;
  border-radius: 8px;
}


.home-book-detail{
padding: 20px;
height: 120px;
}

.home-book-detail p .price{
  font-weight: 700;
  color: red;
}

.reading-list{
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0px;
  border: none;
  color: gold;
  background-color: teal;
  cursor: pointer;font-size: 1.2em;
}